.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#map {
  margin-top:30px;
  width:100%;
  height:400px;
}

.list-form {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-form li {
  float: left;
  margin: 10px;
}

.list-form li input {
  margin-right:10px;
}
